<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="login-usuario">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <h2>Datos de usuario</h2>

    <div class="row">
       <h3 class="col-md-2">Hola</h3>
       <h3 class="col-md-3">Soy Bootstrap</h3>
    </div>
    <input type="email" placeholder="Email" value="{{email::input}}"/>
    <input type="password" placeholder="Password" value="{{password::input}}"/>
    <button on-click="login" class="btn btn-success">Login</button>
    <button class="btn btn-warning">Logout</button>
    <button class="btn btn-info">Logout</button>
    <button class="btn btn-danger">Logout</button>

    <span hidden$="{{!logged}}">Bienvenido a casa Jhonny</span>

    <iron-ajax
      id="doLogin"
      method="POST"
      url="http://localhost:3000/apitechu/v2/login"
      content-type="application/json"
      handle-as="json"
      on-response="manageAJAXResponse"
      on-error="showError">

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class LoginUsuario extends Polymer.Element {
      static get is() { return 'login-usuario'; }
      static get properties() {
        return {
          id : {
            type: Number
          },
          first_name : {
            type: String
          },
          last_name : {
            type: String
          },
          email : {
            type: String
          },
          password : {
            type: String
          },
          logged : {
            type : Boolean,
            value : false
          }
        };
      }

      login() {
          console.log("Botón Pulsado");
          var loginData = {
             "email" : this.email,
             "pass" : this.password
          };
          this.$.doLogin.body = JSON.stringify(loginData);
          this.$.doLogin.generateRequest();
          console.log("Petición enviada");
      }
      manageAJAXResponse(data) {
        console.log("Respuesta recibida");
        console.log(data.detail.response);
        this.logged=true;
      }

      showError(error){
        console.log("Hubo un error");
        console.log(error);
      }
    }

    window.customElements.define(LoginUsuario.is, LoginUsuario);
  </script>
</dom-module>
