<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">

<dom-module id="visor-cuentas">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Datos de la cuenta</h2>

    <template is="dom-repeat" items="{{accounts}}">
          <span> IBAN - {{item.iban}}</span>
          <span> Saldo - {{item.balance}}</span><br/>
    </template>

    <iron-ajax
      auto=""
      id="getUser"
      url="http://localhost:3000/apitechu/v2/users/{{id_user}}/accounts"
      handle-as="json"
      on-response="showData">


    <!--  <input type="text" value="{{first_name::input}}"/>
    <input type="text" value="{{last_name::input}}"/>
    <input type="range" min="18" value="{{age::input}}" max="70"/> -->



  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class VisorCuentas extends Polymer.Element {
      static get is() { return 'visor-cuentas'; }
      static get properties() {
        return {
          id_user: {
            type: Number
          },
          /*iban : {
            type: String
          },
          balance : {
            type: Number
          },*/
          accounts : {
            type: Array
          }
        };
      }
      showData(data) {
        console.log("showData");
        this.accounts = data.detail.response;
        /*this.id_user = data.detail.response[0].id_user;
        this.iban = data.detail.response[0].iban;
        this.balance = data.detail.response[0].balance;*/
      }
    }

    window.customElements.define(VisorCuentas.is, VisorCuentas);
  </script>
</dom-module>
