<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="emisor-evento">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h1>Soy el emisor</h1>
    <button on-click="sendEvent">no pulsar</button>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class EmisorEvento extends Polymer.Element {
      static get is() { return 'emisor-evento'; }
      static get properties() {
        return {

        };
      }
      sendEvent(e){
        console.log("Pulsando el boton");
        console.log(e);

        this.dispatchEvent(
          new CustomEvent(
            "myevent",
             {
               "detail" : {
                 "course" : "TechU",
                 "year" : 2018
               }
             }
          ) //  new CustomEvent

        );//  this.dispatchEvent(
      } //sendEvent(e)

    } //class

    window.customElements.define(EmisorEvento.is, EmisorEvento);
  </script>
</dom-module>
