<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../receptor-evento/receptor-evento.html">
<link rel="import" href="../emisor-evento/emisor-evento.html">

<dom-module id="gestor-evento">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h1>Soy tu padre</h1>
    <!-- Emisor lanza un evento que es capturado por el Gestor -->
   <emisor-evento on-myevent="processEvent"></emisor-evento>
   <receptor-evento id="receiver"></receptor-evento>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class GestorEvento extends Polymer.Element {
      static get is() { return 'gestor-evento'; }
      static get properties() {
        return {

        };
      }

      processEvent(e) {
        console.log("evento del emisor capturado")
        console.log(e);
        this.$.receiver.showData(e.detail);

      }


    } //class

    window.customElements.define(GestorEvento.is, GestorEvento);
  </script>
</dom-module>
